<section class="cta">
    <h2 class="cta-title">Faça Sua Encomenda</h2>
    <p class="cta-text">Entre em contacto connosco para fazer a sua encomenda. Estamos prontos para servir!</p>
    <div class="cta-buttons">
        <a class="cta-button" href="tel:+258876008008">
            <i class="fas fa-phone-alt"></i> Ligar: +258 87 600 8008
        </a>
        <a class="cta-instagram-link" href="https://instagram.com/cafealpino_mpt" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i> @cafealpino_mpt
        </a>
    </div>
</section>