<section id="galeria">
    <h2>Galeria</h2>
    <p class="gallery-subtitle">Veja algumas das nossas deliciosas criações</p>
    <div class="gallery">
        <figure class="gallery-item">
            <img src="images/pao-ovo-ovos-mexidos.jpg" alt="Pão tostado com ovos mexidos e tomate">
            <figcaption>Pão tostado com ovos mexidos</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/camarao-alho-manteiga.jpg" alt="Camarão ao alho e manteiga na frigideira">
            <figcaption>Camarão ao alho e manteiga</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/cafe-e-bola-de-berlim.jpg" alt="Café com bola de Berlim na vitrine da pastelaria">
            <figcaption>Café e bola de Berlim</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/hamburguer-com-batatas.jpg" alt="Hambúrguer com batatas fritas">
            <figcaption>Hambúrguer com batatas fritas</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/prato-frango-batata-arroz.jpg" alt="Frango grelhado com batatas fritas e arroz">
            <figcaption>Frango grelhado com batatas e arroz</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/grao-chourico-xima.jpg" alt="Guisado de grão com chouriço acompanhado de xima">
            <figcaption>Guisado de grão com chouriço e xima</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/peixe-grelhado-limao.jpg" alt="Peixe grelhado com limão e ervas">
            <figcaption>Peixe grelhado com limão</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/frango-caril-xima-salada.jpg" alt="Frango de caril com xima e salada">
            <figcaption>Frango de caril com xima</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/prato-molho-com-arroz.jpg" alt="Prato tradicional com molho e arroz">
            <figcaption>Prato tradicional com arroz</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/arroz-temperado-frango-panado.jpg" alt="Arroz temperado com frango panado e salada">
            <figcaption>Arroz temperado com frango panado</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/moelas-estufadas-batatas.jpg" alt="Moelas estufadas com batatas fritas">
            <figcaption>Moelas estufadas com batatas</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/iscas-carne-arroz-salada.jpg" alt="Iscas de carne com arroz e salada">
            <figcaption>Iscas de carne com arroz e salada</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/tiras-frango-molho-batatas.jpg" alt="Tiras de frango com molho e batatas fritas">
            <figcaption>Tiras de frango com molho</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/peixe-frito-xima-molho.jpg" alt="Peixe frito com xima e molho de tomate">
            <figcaption>Peixe frito com xima e molho</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/terraco-caranguejos.jpg" alt="Caranguejos servidos na esplanada com limão">
            <figcaption>Caranguejos na esplanada</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/salada-colorida-com-carne.jpg" alt="Salada colorida com carne salteada e arroz">
            <figcaption>Salada colorida com carne</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/frango-grelhado-arroz-salada.jpg" alt="Frango grelhado com arroz e salada">
            <figcaption>Frango grelhado com arroz e salada</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/caranguejo-grelhado-batatas-salada.jpg" alt="Caranguejo grelhado com batatas e salada">
            <figcaption>Caranguejo grelhado com batatas</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/sandes-carne.jpg" alt="Sandes de carne tradicional">
            <figcaption>Sandes de carne</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/prato-com-ovo.jpg" alt="Prato com ovo, arroz, batatas e salada">
            <figcaption>Prato com ovo</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/peixe-molho-arroz.jpg" alt="Peixe com molho e arroz">
            <figcaption>Peixe com molho e arroz</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/bolo-castanha.jpg" alt="Bolo de castanha">
            <figcaption>Bolo de castanha</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/sandes-esplanada.jpg" alt="Sandes na esplanada com café">
            <figcaption>Sandes na esplanada</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/xima-molho-verde.jpg" alt="Xima com molho verde">
            <figcaption>Xima com molho verde</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/carne-limao-arroz-feijao.jpg" alt="Carne grelhada com limão, arroz de feijão e salada">
            <figcaption>Carne grelhada com limão</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/peixe-xima-molho-vermelho.jpg" alt="Peixe frito com xima e molho vermelho">
            <figcaption>Peixe com xima e molho</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/carne-molho-batatas-arroz.jpg" alt="Carne com molho, batatas fritas e arroz">
            <figcaption>Carne com molho</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/frango-grelhado-batatas-arroz-legumes.jpg"
                alt="Frango grelhado com batatas e arroz de legumes">
            <figcaption>Frango grelhado com batatas</figcaption>
        </figure>
        <figure class="gallery-item">
            <img src="images/sandes-ovos-mexidos.jpg" alt="Sandes de ovos mexidos com tomate e alface">
            <figcaption>Sandes de ovos mexidos</figcaption>
        </figure>
    </div>
    <div class="instagram-follow">
        <p>Siga-nos no Instagram para ver mais!</p>
        <a href="https://instagram.com/cafealpino_mpt" target="_blank" rel="noopener" class="insta-button">Instagram
            @cafealpino_mpt</a>
    </div>
</section>