<section id="galeria">
    <h2>Galeria</h2>

    <h3 class="gallery-category-title">Salgados</h3>
    <div class="gallery">
        <figure class="gallery-item">
            <img src="images/burger.jpg" alt="Hambúrguer">
        </figure>
        <figure class="gallery-item">
            <img src="images/burger-special.jpg" alt="Hambúrguer Especial">
        </figure>
        <figure class="gallery-item">
            <img src="images/filetes.jpg" alt="Filetes de Pescada">
        </figure>
        <figure class="gallery-item">
            <img src="images/peixe-grelhado.jpg" alt="Peixe Grelhado">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0014.jpg" alt="Guisado de grão com chouriço acompanhado de xima">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0033.jpg" alt="Carne grelhada com limão, arroz de feijão e salada">
        </figure>
        <figure class="gallery-item">
            <img src="images/picanha.jpg" alt="Picanha suculenta">
        </figure>
        <figure class="gallery-item">
            <img src="images/pao-tostado-com-ovos-mexidos.jpg" alt="Pão tostado com ovos mexidos e tomate">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251022-wa0027.jpg" alt="Camarão ao alho e manteiga na frigideira">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251029-wa0005.jpg" alt="Hambúrguer com batatas fritas">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251031-wa0013.jpg" alt="Frango grelhado com batatas fritas e arroz">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0014.jpg" alt="Guisado de grão com chouriço acompanhado de xima">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0015.jpg" alt="Peixe grelhado com limão e ervas">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0016.jpg" alt="Frango de caril com xima e salada">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0017.jpg" alt="Prato tradicional com molho e arroz">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0018.jpg" alt="Arroz temperado com frango panado e salada">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0019.jpg" alt="Moelas estufadas com batatas fritas">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0020.jpg" alt="Iscas de carne com arroz e salada">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0021.jpg" alt="Tiras de frango com molho e batatas fritas">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0022.jpg" alt="Peixe frito com xima e molho de tomate">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0023.jpg" alt="Caranguejos servidos na esplanada com limão">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0024.jpg" alt="Salada colorida com carne salteada e arroz">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0025.jpg" alt="Frango grelhado com arroz e salada">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0026.jpg" alt="Caranguejo grelhado com batatas e salada">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0027.jpg" alt="Sandes de carne tradicional">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0028.jpg" alt="Prato com ovo, arroz, batatas e salada">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0029.jpg" alt="Peixe com molho e arroz">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0031.jpg" alt="Sandes na esplanada com café">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0032.jpg" alt="Xima com molho verde">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0033.jpg" alt="Carne grelhada com limão, arroz de feijão e salada">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0034.jpg" alt="Peixe frito com xima e molho vermelho">
        </figure>
        <figure class="gallery-item">
            <img src="images/img-20251215-wa0035.jpg" alt="Carne com molho, batatas fritas e arroz">
        </figure>
        <figure class="gallery-item">
            <img src="images/mutxu.jpg" alt="Mutxutxu">
        </figure>
        <figure class="gallery-item">
            <img src="images/sandes.jpg" alt="Sandes">
        </figure>
        <figure class="gallery-item">
            <img src="images/peixe com legumes .jpg" alt="Peixe com Legumes">
        </figure>
        <figure class="gallery-item">
            <img src="images/pão e bife.jpg" alt="Pão e Bife">
    </div>

    <h3 class="gallery-category-title">Doces</h3>
    <div class="gallery">
        <figure class="gallery-item">
            <img src="images/bolo-de-natas-e-cafe.jpg" alt="Bolo de Nata e Café">
        </figure>
        <figure class="gallery-item">
            <img src="images/bolo-de-cenoura.jpg" alt="Bolo de Cenoura">
        </figure>
        <figure class="gallery-item">
            <img src="images/bolo-de-marmore.jpg" alt="Bolo de Mármore">
        </figure>
        <figure class="gallery-item">
            <img src="images/tarte-de-amendoas.jpg" alt="Tarte de Amêndoa">
        </figure>
        <figure class="gallery-item">
            <img src="images/orelhodos.jpg" alt="Orelhudos">
        </figure>
        <figure class="gallery-item">
            <img src="images/bolo-de-cenoura.jpg" alt="Bolo de Chocolate">
    </div>

    <div class="gallery-more">
        <button id="load-more-gallery" class="btn btn-primary" style="margin: 20px auto; display: block;">Ver
            Mais</button>
    </div>

</section>