<section id="localizacao" class="contact-section">
    <div class="contact-container">
        <div class="contact-header">
            <h2 class="contact-title">ENTRE EM CONTACTO</h2>
            <div class="contact-separator"></div>
        </div>

        <div class="contact-info-centered">
            <p>R. José Mateus, Maputo</p>
            <p>Maputo - Moçambique</p>
            <p>Email: <a href="mailto:alpinomaputo2023@gmail.com">alpinomaputo2023@gmail.com</a></p>
            <p>Telefone: <a href="tel:+258876008008">+258 87 600 8008</a></p>
        </div>
    </div>

    <div class="map-full-width">
        <iframe src="https://maps.google.com/maps?q=-25.9775607,32.5926984&hl=pt&z=16&output=embed" width="100%"
            height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>